.axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

.center-this {
	margin: auto;
	display: block;
}

.orange-section {
	background-color: #EB5E28;
}

.btn-white {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.btn-white:hover {
    background-color: #FFFFFF !important;
    color: #EB5E28 !important;
}

.orange-hover:hover {
	 color: #EB5E28 !important;
    border-color: #EB5E28 !important;	
}

.carousel-inner {
     background-color: transparent; 
}

.section-nude {
	background-color: #fff;
	background-image: none; 	
}

.carousel-control.right {
    right: 10%;
}

.carousel-control.left {
    left: 10%;
}

.white {
	color: #FFFFFF;
}

.section {
    min-height: 600px;
}

.section-icon {
	font-size: 150px !important;
}

.contain {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.demo-header {
    min-height: 750px;
}

.demo-header .motto {
    padding-top: 40vh;
}